/* Firefox userChrome.css */
/* must enable: about:config > toolkit.legacyUserProfileCustomizations.stylesheets > true */
/* note: use with 'compact' setting */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* remove 'open all in tabs' option */
.openintabs-menuseparator,
.openintabs-menuitem,
.bookmarks-actions-menuseparator {  
  display: none !important; 
}

/* spacing between bookmarks in dropdown */
#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar) :-moz-any(menuitem.bookmark-item, menu.bookmark-item) {
  height: 24px !important;
  min-width: 150px !important;
}

/* tab title font size */
#tabbrowser-tabs .tab-text{
  font-size:12px !important;
  font-weight: normal !important;
  color: #F1F3F4 !important;
 }

 /* tab style */
 #tabbrowser-tabs {
  --user-tab-rounding: 0px;
}
@media (-moz-proton) {
  .tab-background {
      border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
      margin-block: 1px 0 !important;
      color: #9a9aa8;
  }
  .tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
      margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
  }
}

 /* tab size */
 .tabbrowser-tab {
  max-width: 240px !important;
  height: 34px !important;
}

/* active tab color */
.tab-background[selected="true"] {
  background-color: #2B2A33 !important;
  background-image: none !important;
}

/* tab toolbar blank space */
.titlebar-spacer[type="pre-tabs"] {
  border-inline-end: 0px !important;
  width: 12px !important;
}

/* bookmarks toolbar padding */
#PersonalToolbar {
  padding-top: 3.5px !important;
  padding-bottom: 3.5px !important;    
}

/* bookmark toolbar font size */
#PlacesToolbarItems * {
  fill: #F1F3F4 !important;
  color: #F1F3F4 !important;
  font-size: 11px !important;
}

/* compact bookmark menu dropdown menu */
menupopup[placespopup="true"]{
  padding: 0 !important;
  margin: 0 !important;
  --arrowpanel-background: var(--menu-background-color) !important;
  border-radius: var(--panel-border-radius) !important;
}
.menupopup-arrowscrollbox{
  margin-top: 1px !important;
  border: 1px solid var(--panel-border-color) !important;
  padding: var(--panel-padding) !important;
  border-radius: var(--panel-border-radius) !important;
}
:where(menupopup[placespopup="true"]) menu,
:where(menupopup[placespopup="true"]) menuitem{
  margin-inline: 0 !important;
  padding-inline-start: 1em !important;
  border-radius: 0 !important;
  padding-block: 0.5em !important;
}

/* bookmarks toolbar */
#personal-bookmarks {
  -moz-appearance: none !important;
}
#personal-bookmarks menupopup {
  -moz-appearance: none !important;
  background-color: #202124 !important;
  fill: #F1F3F4 !important;
  color: #F1F3F4 !important;
  font-size: 12px !important;
}
#personal-bookmarks menu {
  -moz-appearance: none !important;
  fill: #F1F3F4 !important;
  color: #F1F3F4 !important;
  background-color: #202124 !important;
}
#personal-bookmarks menu:hover {
  -moz-appearance: none !important;
  fill: #F1F3F4 !important;
  color: #F1F3F4 !important;
  background-color: #52525E !important;
}
#personal-bookmarks menuitem {
  -moz-appearance: none !important;
  color: #F1F3F4 !important;
  background-color: #202124 !important;
}
#personal-bookmarks menuitem:hover {
  -moz-appearance: none !important;
  color: #F1F3F4 !important;
  background-color: #52525E !important;
}

/* sepatator color */
#personal-bookmarks menuseparator {
  -moz-appearance: none !important;
  background-color: #52525E !important;
}

#titlebar { margin-top: 0px !important; }